<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>usenseUUSpeedTest</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx853f9d9b319e028d</string>
        </array>
        <key>CFBundleURLName</key>
        <string>weixin</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ41C52FA2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1103834069</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sina.542a046afd98c5cfd001f4dd</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb234235382</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>UUSpeedTest</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>测网速</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>weixin</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqqbrowser</string>
      <string>mttbrowser</string>
      <string>renrenios</string>
      <string>renrenapi</string>
      <string>renren</string>
      <string>renreniphone</string>
      <string>laiwangsso</string>
      <string>yixin</string>
      <string>yixinopenapi</string>
      <string>instagram</string>
      <string>whatsapp</string>
      <string>line</string>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>2.5.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>您的位置将用于显示您所在的城市</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15F34</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>UIAppFonts</key>
    <array>
      <string>Kravitz.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>2.5.3</string>
    <key>DTXcodeBuild</key>
    <string>7D175</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>UUSpeedTest</string>
    <key>DTXcode</key>
    <string>0730</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>UUSpeedTestitem1</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon_test</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>ShortcutTitleTest</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>UUSpeedTestitem2</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>checknearby</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>ShortcutTitleNearby</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>UUSpeedTestitem3</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon_ewm</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>ShortcutTitleQRCode</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
    </array>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>sinaimg.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>facebook.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sina.com.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sina.cn</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>log.umsns.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sns.whalecloud.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sinajs.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>twitter.com</key>
        <dict>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>qq.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>uapi.uutest.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>weibo.cn</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>weibo.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleExecutable</key>
    <string>UUSpeedTest</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
